:root {
  --main-color: #5b2386;
  --second-main-color: #ffff;
  --sub-color: #babcbe;
  --point-color: #fcee21;
}

/* 폰트 */
@font-face {
  font-family: "OTEnjoystoriesBA 400";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OTEnjoystoriesBA 700";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gmarket Sans 700";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gmarket Sans 500";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gmarket Sans 400";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* 공통 */
/* 위치 */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* body 배경컬러 */
body {
  background-color: var(--main-color);
  /* font-family: "OTEnjoystoriesBA", sans-serif; */
}

/* header 정렬 */
header {
  width: 100%;
  height: 265px;
  margin-top: 120px;
  position: sticky;
  top: 0;
  z-index: 500;
  background-color: var(--main-color);
}

/* 1만 시간의 법칙 타이틀 */
header > h1 > img:first-child {
  position: absolute;
  width: 222px;
  height: 225px;

  z-index: 100;
}

header > h1 > img:last-child {
  position: absolute;
  width: 564px;
  height: 112px;
  z-index: 200;
}

main {
  width: auto;
  margin-top: 52px;
}

/* 인용구 section */
.quote > q {
  width: 486px;
  height: 40px;

  font-family: "OTEnjoystoriesBA 700";
  font-style: normal;
  font-size: 36px;
  line-height: 40px;
  color: #f5df4d;
}

.quote-group {
  position: relative;
  width: 373px;
  height: 85px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 80px;
}

.quote-group::before {
  content: " ";
  display: inline-block;
  position: absolute;
  left: -40px;
  top: 50%;
  transform: translateY(-50%);
  width: 36px;
  height: 32px;

  background: url("img/66.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.quote-group::after {
  content: " ";
  display: inline-block;
  position: absolute;
  right: -40px;
  top: 50%;
  transform: translateY(-50%);
  width: 36px;
  height: 32px;
  background: url("img/99.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.quote-group > p {
  font-family: "Gmarket Sans 400";
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;

  color: var(--second-main-color);
}

em {
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: var(--second-main-color);
}

/* 폼 태그 */
form {
  margin-top: 100px;
}

form > div > p {
  font-family: "Gmarket Sans 400";
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;

  color: var(--second-main-color);
}

input {
  width: 228px;
  height: 56px;

  font-family: "Gmarket Sans 400";
  font-size: 24px;
  line-height: 24px;
  text-align: center;

  color: black;

  background: var(--second-main-color);
  border-radius: 8px;
}

input::placeholder {
  font-family: "Gmarket Sans 400";
  font-size: 24px;
  line-height: 24px;
  text-align: center;

  color: var(--sub-color);
}

input:focus {
  font-family: "Gmarket Sans 400";
  font-size: 24px;
  line-height: 24px;
  text-align: center;

  color: black;
}
/* input 포커스 시 placeholder 투명 */
/* Chrome, Safari, Opera, Edge (Webkit) */
input:focus::placeholder {
  color: transparent;
}

/* Firefox 19+ */
input:focus::-moz-placeholder {
  color: transparent;
}

/* Firefox 4-18 */
input:focus:-moz-placeholder {
  color: transparent;
}

/* IE 10+ */
input:focus:-ms-input-placeholder {
  color: transparent;
}

/* Edge */
input:focus::-ms-input-placeholder {
  color: transparent;
}

.topic,
.hours {
  padding: 16px 40px;
}

.first-line,
.second-line {
  gap: 10px;
}

.second-line {
  margin-top: 20px;
}

form > button {
  margin-top: 120px;

  width: 567px;
  height: 64px;
}

.btn-common {
  position: relative;
  font-family: "Gmarket Sans 500";
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;

  font-weight: bold;
  border-radius: 12px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
  color: var(--main-color);
  background: var(--point-color);

  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.second-line + button::after {
  content: " ";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 100%;
  margin-left: 7px;
  margin-top: 14px;
  transform: translateY(-50%);
  width: 43px;
  height: 48px;
  background: url("img/click.png");
  background-repeat: no-repeat;
  background-size: contain;
}

/* 결과 후 버튼 그룹 */
.btn-share {
  font-family: "Gmarket Sans 500";
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;

  border-radius: 12px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
  color: var(--main-color);
  background: var(--second-main-color);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.result-group {
  margin-top: 142px;
  gap: 44px;
}

.result-group > p {
  font-family: "Gmarket Sans 400";
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  text-align: center;
  color: var(--second-main-color);

  gap: 12px;
}

.hidden {
  display: none;
}

.highlight {
  font-family: "Gmarket Sans 700";
  font-size: 72px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}

.button-group {
  margin-top: 120px;
  width: 570px;
  height: 64px;
  gap: 10px;
}

.button-group > button:first-child {
  width: 365px;
  height: 64px;
}

.button-group > button:last-child {
  width: 193px;
  height: 64px;

  background: var(--second-main-color);
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 12px;

  font-family: "Gmarket Sans 500";
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}

footer {
  margin-top: 120px;
  margin-bottom: 106px;
}

footer > img {
  margin-bottom: 20px;
}
footer p:last-child {
  margin-top: 3px;
}

footer > p {
  font-family: "Noto Sans KR";
  font-weight: 400px;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: var(--second-main-color);
}

/* 모달 */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;

  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: var(--second-main-color);
  border-radius: 8px;
  min-width: 220px;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 146px;
  padding-right: 146px;
}
.close {
  position: absolute;
  top: 8px;
  right: 12px;
  font-size: 24px;
}
.share-icons {
  margin: 16px 0;
  display: flex;
  gap: 12px;
  justify-content: center;
}

.size {
  margin-top: 60px;
  border-radius: 12px;
  padding-top: 20px;
  padding-right: 50px;
  padding-bottom: 20px;
  padding-left: 50px;
}

.modal-content > p > em {
  font-family: "OTEnjoystoriesBA 700";
  font-size: 96px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;

  color: var(--main-color);
}

.modal-content p:nth-of-type(2) {
  font-family: "OTEnjoystoriesBA 700";
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;

  color: var(--main-color);
}
